<div class="kop">
    <div class="kop-inner">

        <div class="kop-logo">
            <img src="{{ url_for('static', filename='img/logo.png', _external=True) if pdf else url_for('static', filename='img/logo.png') }}">
        </div>

        <div class="kop-text">

            <div class="k1">
                KEMENTERIAN IMIGRASI DAN PEMASYARAKATAN REPUBLIK INDONESIA
            </div>

            <div class="k1">
                DIREKTORAT JENDERAL PEMASYARAKATAN
            </div>

            <div class="k1">
                KANTOR WILAYAH SUMATERA UTARA
            </div>

            <div class="kbold">
                RUMAH TAHANAN NEGARA KELAS IIB PANGKALAN BRANDAN
            </div>

            <div class="k1">
                Jl. Stasiun No.09 Pangkalan Brandan, Kec. Babalan, Sumatera Utara
            </div>

            <div class="k1">
                Laman : rutanpangkalanbrandan.kemenkumham.go.id
            </div>

            <!-- EMAIL BIRU SEPERTI LINK -->
            <div class="k1">
                Pos-el :
                <a
                    href="mailto:rtn.pangkalanbrandan@kemenkumham.go.id"
                    class="email-link">
                    rtn.pangkalanbrandan@kemenkumham.go.id
                </a>
            </div>

        </div>

    </div>
</div>

<style>

.email-link{
    color:#0b55d9;
    text-decoration:none;
    font-weight:600;
    transition:.2s ease;
}

.email-link:hover{
    text-decoration:underline;
    color:#0040b3;
}

</style>
